<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>
    <title>Query 2</title>
</head>
<body>
<a href="../">Home</a> |
<a href="./Q1">Query 1</a> |
<a href="">Query 2</a> |
<a href="./Q3">Query 3</a> |
<a href="./Q4">Query 4</a> |
<a href="./Q5">Query 5</a> |
<a href="./Q6">Query 6</a> |
<a href="./Q7">Query 7</a> |
<a href="./Q8">Query 8</a> |
<a href="./Q9">Query 9</a> |
<a href="./Q10">Query 10</a>

<h1>Query 2</h1>

<p>
    -- shows stats for players in each game
    <br>SELECT p.first_name, p.last_name, s.stadium_id, s.date_time, s.at_bats, s.hits, s.runs, s.rbi FROM player p
    <br>JOIN (SELECT * FROM player_game pg) s on s.player_id = p.player_id
    <br>ORDER BY s.date_time, s.stadium_id, p.last_name, p.first_name;
</p>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Stadium ID</th>
        <th>Date</th>
        <th>At Bats</th>
        <th>Hits</th>
        <th>Runs</th>
        <th>RBI</th>
    </tr>

    <% for(var i = 0; i < result.length; i++) {%>
    <tr>
        <td><%= result[i].first_name %></td>
        <td><%= result[i].last_name %></td>
        <td><%= result[i].stadium_id %></td>
        <td><%= result[i].date_time %></td>
        <td><%= result[i].at_bats %></td>
        <td><%= result[i].hits %></td>
        <td><%= result[i].runs %></td>
        <td><%= result[i].rbi %></td>
    </tr>
    <% } %>
</table>
</body>
</html>