<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>
    <title>Player - Update</title>
</head>
<body>
<h1>Update Player</h1>
<form action="/player/update" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">

    First Name: <input id="first_name" name="first_name" value="<%= player.first_name %>">
    <br>
    Last Name: <input id="last_name" name="last_name" value="<%= player.last_name %>">
    <br>
    Bats:
    <select name="bats">
        <% var selected1 = '';
        var selected2 = '';
        var selected3 = '';
        if(player.bats == 'Right'){
            selected1 = 'selected';
        }else{
            player.bats == 'Left' ? selected2 = 'selected' : selected3 = 'selected';
        }%>
        <option value="Right" <%= selected1 %>> Right </option>
        <option value="Left" <%= selected2 %>> Left </option>
        <option value="Switch" <%= selected3 %>> Switch </option>
    </select>
    <br>
    Throws:
    <select name="throws">
        <% var selected1 = '';
        var selected2 = '';
        var selected3 = '';
        if(player.throws == 'Right'){
            selected1 = 'selected';
        }else{
            player.throws == 'Left' ? selected2 = 'selected' : selected3 = 'selected';
        }%>
        <option value="Right" <%= selected1 %>> Right </option>
        <option value="Left" <%= selected2 %>> Left </option>
        <option value="Switch" <%= selected3 %>> Switch </option>
    </select>
    <br>
    <input type="submit">
</form>
</body>
</html>